<div class="app-container">
    <div class="app-body">
      <div class="free-delivery">
        <span class="subject">FREE DELIVERY</span>
        <span class="subject-text">ON ORDERS OVER $50 - USE COUPON CODE OVER50</span>
        <div class="shop">
          <button (click)="navigateToWomen()">Shop Women</button>
          <button (click)="navigateToMen()">Shop Men</button>
          <button (click)="navigateToSale()">Shop Sale</button>
        </div>
      </div>
      <div class="example-images">
        <img src="../assets/img/homepageimage1.png" alt="">
        <img src="../assets/img/homepageimage.png" alt="">
        <img src="../assets/img/homepageimage2.png" alt="">
      </div>
      <div class="new-arrivals">
        <span class="sub-header">NEW ARRIVALS</span>
        <div class="cloth-card" (click)="navigateToQuickView()">
          <img src="../assets/img/tshirt1.jpg" alt="">
          <span>I'm a product</span>
          <span style="color: red;">$25.00</span>
        </div>
        <div class="cloth-card" (click)="navigateToQuickView()">
          <img src="../assets/img/tshirt2.jpg" alt="">
          <span>I'm a product</span>
          <span style="color: red;">$26.00</span>
        </div>
        <div class="cloth-card" (click)="navigateToQuickView()">
          <img src="../assets/img/tshirt3.jpg" alt="">
          <span>I'm a product</span>
          <span style="color: red;">$28.00</span>
        </div>
        <div class="cloth-card" (click)="navigateToQuickView()">
          <img src="../assets/img/tshirt4.jpg" alt="">
          <span>I'm a product</span>
          <span style="color: red;">$26.00</span>
        </div>
        <div class="cloth-card" (click)="navigateToQuickView()">
          <img src="../assets/img/tshirt5.jpg" alt="">
          <span>I'm a product</span>
          <span style="color: red;">$46.00</span>
        </div>
        <div class="cloth-card" (click)="navigateToQuickView()">
          <img src="../assets/img/tshirt6.jpg" alt="">
          <span>I'm a product</span>
          <span style="color: red;">$100.00</span>
        </div>
        <div class="cloth-card" (click)="navigateToQuickView()">
          <img src="../assets/img/tshirt7.jpg" alt="">
          <span>I'm a product</span>
          <span style="color: red;">$54.00</span>
        </div>
        <div class="cloth-card" (click)="navigateToQuickView()">
          <img src="../assets/img/tshirt8.jpg" alt="">
          <span>I'm a product</span>
          <span style="color: red;">$45.00</span>
        </div>
      </div>
      <div class="shop-now">
        <button (click)="navigateToShopAll()">Shop All</button>
      </div>
    </div>
    <div class="app-footer">
  
    </div>
  </div>
  