.header{
    background-color: rgba(22, 5, 117, 0.932);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    .options{
        display: flex;
        ul{
            display: flex;
            list-style-type: none;
            li{
                padding: 10px;
                color: white;
                font-size: 1rem;
                font-family: 'M PLUS 1p', sans-serif;
                letter-spacing: 0.07em;
                cursor: pointer;
            }
        }
    }
}