<div class="header">
    <div class="logo" style="cursor: pointer;">
        <img (click)="navigateToHomePage()" src="../assets/img/textclothLogo.png" alt="">
    </div>
    <div class="options">
      <ul>
        <li (click)="navigateToShopAll()">Shop All</li>
        <li (click)="navigateToWomen()">Women</li>
        <li (click)="navigateToMen()">Men</li>
        <li (click)="navigateToSale()">Sale</li>
        <li (click)="navigateToAbout()">About</li>
        <li (click)="navigateToContact()">Contact</li>
        <li>Login</li>
      </ul>
    </div>
  </div>
<router-outlet></router-outlet>