<div class="page-style">
      <div class="app-body">
            <div class="page-title">
                <span>WOMEN</span>
            </div>
            <div class="cloth-card">
                <img src="../assets/img/wtshirt.jpg" alt="">
                <span>I'm a product</span>
                <span style="color: red;">$25.00</span>
              </div>
              <div class="cloth-card">
                <img src="../assets/img/wtshirt.jpg" alt="">
                <span>I'm a product</span>
                <span style="color: red;">$25.00</span>
              </div>
              <div class="cloth-card">
                <img src="../assets/img/wtshirt.jpg" alt="">
                <span>I'm a product</span>
                <span style="color: red;">$25.00</span>
              </div>
              <div class="cloth-card">
                <img src="../assets/img/wtshirt.jpg" alt="">
                <span>I'm a product</span>
                <span style="color: red;">$25.00</span>
              </div>
              <div class="cloth-card">
                <img src="../assets/img/wtshirt.jpg" alt="">
                <span>I'm a product</span>
                <span style="color: red;">$25.00</span>
              </div>
              <div class="cloth-card">
                <img src="../assets/img/wtshirt.jpg" alt="">
                <span>I'm a product</span>
                <span style="color: red;">$25.00</span>
              </div>
              <div class="cloth-card">
                <img src="../assets/img/wtshirt.jpg" alt="">
                <span>I'm a product</span>
                <span style="color: red;">$25.00</span>
              </div>
              <div class="cloth-card">
                <img src="../assets/img/wtshirt.jpg" alt="">
                <span>I'm a product</span>
                <span style="color: red;">$25.00</span>
              </div>
              <div class="cloth-card">
                <img src="../assets/img/wtshirt.jpg" alt="">
                <span>I'm a product</span>
                <span style="color: red;">$25.00</span>
              </div>
              <div class="cloth-card">
                <img src="../assets/img/wtshirt.jpg" alt="">
                <span>I'm a product</span>
                <span style="color: red;">$25.00</span>
              </div>
              <div class="cloth-card">
                <img src="../assets/img/wtshirt.jpg" alt="">
                <span>I'm a product</span>
                <span style="color: red;">$25.00</span>
              </div>
              <div class="cloth-card">
                <img src="../assets/img/wtshirt.jpg" alt="">
                <span>I'm a product</span>
                <span style="color: red;">$25.00</span>
              </div>
              <div class="cloth-card">
                <img src="../assets/img/wtshirt.jpg" alt="">
                <span>I'm a product</span>
                <span style="color: red;">$25.00</span>
              </div>
              <div class="cloth-card">
                <img src="../assets/img/wtshirt.jpg" alt="">
                <span>I'm a product</span>
                <span style="color: red;">$25.00</span>
              </div>
              <div class="cloth-card">
                <img src="../assets/img/wtshirt.jpg" alt="">
                <span>I'm a product</span>
                <span style="color: red;">$25.00</span>
              </div>
              <div class="cloth-card">
                <img src="../assets/img/wtshirt.jpg" alt="">
                <span>I'm a product</span>
                <span style="color: red;">$25.00</span>
              </div>
            <div class="loadmore">
                <button>Load More</button>
            </div>
        </div>
    <div class="app-footer">
        
    </div>
</div>