<div class="page-style">
    <div class="app-body">
        <div class="page-title">
            <span>SHOPPING CART</span>
        </div>
        <div class="cart-items">
            <div class="item">
                <div class="item-image">
                    <img src="../../../assets/img/wtshirt.jpg" alt="">
                </div>
                <div class="item-description">
                    <span>PRODUCT NAME</span>
                    <small style="color: rgb(3, 163, 3);">In Stock</small>
                    <span>Size: S</span>
                    <span>Quantity: 5</span>
                    <div class="buynow">
                        <div class="delete">
                            <ul>
                                <li>Delete</li>
                                <li>Save for later</li>
                                <li>Compare with similar items</li>
                            </ul>
                        </div>
                        <div class="buy">
                            <button>BUY ITEM</button>
                        </div>
                    </div>
                </div>
                <div class="item-price">
                    <span>$25.00</span>
                </div>
            </div>
            <div class="item">
                <div class="item-image">
                    <img src="../../../assets/img/wtshirt.jpg" alt="">
                </div>
                <div class="item-description">
                    <span>PRODUCT NAME</span>
                    <small style="color: rgb(3, 163, 3);">In Stock</small>
                    <span>Size: S</span>
                    <span>Quantity: 5</span>
                    <div class="buynow">
                        <div class="delete">
                            <ul>
                                <li>Delete</li>
                                <li>Save for later</li>
                                <li>Compare with similar items</li>
                            </ul>
                        </div>
                        <div class="buy">
                            <button>BUY ITEM</button>
                        </div>
                    </div>
                </div>
                <div class="item-price">
                    <span>$25.00</span>
                </div>
            </div>
            <div class="item">
                <div class="item-image">
                    <img src="../../../assets/img/tshirt1.jpg" alt="">
                </div>
                <div class="item-description">
                    <span>PRODUCT NAME</span>
                    <small style="color: rgb(3, 163, 3);">In Stock</small>
                    <span>Size: S</span>
                    <span>Quantity: 5</span>
                    <div class="buynow">
                        <div class="delete">
                            <ul>
                                <li>Delete</li>
                                <li>Save for later</li>
                                <li>Compare with similar items</li>
                            </ul>
                        </div>
                        <div class="buy">
                            <button>BUY ITEM</button>
                        </div>
                    </div>
                </div>
                <div class="item-price">
                    <span>$25.00</span>
                </div>
            </div>
        </div>
    </div>
  <!-- <div class="app-footer">
      
  </div> -->
</div>