<div class="quickviewpage">
    <div class="app-body">
        <div class="page-title">
            <div class="backbutton" (click)="navigateToHomePage()">
                <mat-icon aria-hidden="false" aria-label="Example west icon">west</mat-icon>
            </div>
            <span>QUICK VIEW</span>
        </div>
        <div class="card">
            <div class="product-card-image">
                <div class="product-card">
                    <img src="../assets/img/tshirt1.jpg" alt="">
                </div>
            </div>
            <div class="product">
                <div class="product-cost">
                    <span>I'm a Product</span>
                    <span style="color: red;">$25.00</span>
                    <label for="size">SELECT SIZE</label>
                    <div class="size-btns">
                        <button class="button1">S</button>
                        <button class="button1">M</button>
                        <button class="button1">L</button>
                        <button class="button2">XL</button>
                        <button class="button3">XXL</button>
                    </div>
                    <label for="quantity">SELECT QUANTITY</label>
                    <div class="quantity-group">
                        <i class="fas fa-minus" (click)="minus()"></i>
                        <input class="quantity-input" type="text" id="quantity" (change)="check($event)" [(ngModel)]="Quantity">
                        <i class="fas fa-plus" (click)="plus()"></i>
                    </div>
                    <div class="error-text-quantity" *ngIf="error_text_quantity">
                        <small style="color: red;">Quantity should not be less than 1</small>
                    </div>
                </div>
                <div class="action-buttons">
                    <button>ADD TO CART</button>
                    <button>BUY NOW</button>
                </div>
                <div class="share-product">
                    <span>Share Product</span>
                    <div class="social-media">
                        <i class="fab fa-whatsapp"></i>
                        <i class="fab fa-facebook-square"></i>
                        <i class="fab fa-twitter"></i>
                    </div>
                </div>
            </div>
            <div class="product-description">
                <span class="sub-title">Description</span>
                <span class="description">A T-shirt, or tee shirt, is a style of fabric shirt named after the T shape of its body and sleeves.</span>
            </div>
        </div>
        <div class="relatedproducts">
            <span class="sub-title">RELATED PRODUCTS</span>
            <div class="cloth-card" (click)="navigateToQuickView()">
                <img src="../assets/img/tshirt1.jpg" alt="">
                <span>I'm a product</span>
                <span style="color: red;">$25.00</span>
            </div>
            <div class="cloth-card" (click)="navigateToQuickView()">
                <img src="../assets/img/tshirt1.jpg" alt="">
                <span>I'm a product</span>
                <span style="color: red;">$25.00</span>
            </div>
            <div class="cloth-card" (click)="navigateToQuickView()">
                <img src="../assets/img/tshirt1.jpg" alt="">
                <span>I'm a product</span>
                <span style="color: red;">$25.00</span>
            </div>
            <div class="cloth-card" (click)="navigateToQuickView()">
                <img src="../assets/img/tshirt1.jpg" alt="">
                <span>I'm a product</span>
                <span style="color: red;">$25.00</span>
            </div>
        </div>
        <div class="loadmore">
            <button>Load More</button>
        </div>
    </div>
    <div class="app-footer">
      
    </div>
</div>